alembic==1.10.4
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.14.0
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
cachelib==0.13.0
certifi==2024.12.14
cffi==2.0.0
chardet==5.1.0
charset-normalizer==3.4.4
click==8.1.7
cryptography==40.0.2
Flask==2.2.5
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
greenlet==3.3.0
gunicorn==23.0.0
idna==3.4
isodate==0.7.2
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.2
msal==1.21.0
msal-extensions==1.1.0
packaging==25.0
portalocker==2.10.1
pycparser==2.21
PyJWT==2.10.1
pyodbc==5.3.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-editor==1.0.4
requests==2.32.5
setuptools==80.9.0
six==1.16.0
SQLAlchemy==1.4.49
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==2.2.3
WTForms==3.0.1


